@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic,cyrillic-ext');

body {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 24px;
  color: $black;
}

a {
  color: $brand-color-4;
}

.site-header[role="banner"] {
  min-height: 100vh;
  height: 1px;
  mix-blend-mode: multiply;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(#000, 0.5);
  }
}

.single-event-info {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $brand-color-4;
  @media only screen and (max-width: 1023px) {
    background-color: rgba($brand-color-4, 0.6) !important;
  }
}

#site-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 1.194;
  margin: 0;
  color: $brand-color-3;
  @media only screen and (max-width: 767px) {
    font-size: 42px !important;
  }
}

#site-description {
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 1.727;
  text-transform: uppercase;
  @include mq(sm) {
    font-size: 30px;
  }
}

#site-branding {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  top: 26%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: $brand-color-3;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  @include mq(sm) {
    top: 30%;
  }
  @media only screen and (max-width: 480px) {
    max-width: none !important;
  }
}

.date-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 24px;
  @include mq(sm) {
    padding: 27px 0 33px;
  }
  li {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 7px;
    @include mq(sm) {
      font-size: 24px;
      margin-bottom: 13px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    i {
      font-size: 24px;
    }
  }
}

.social-links ul li a[href*="facebook.com"] {
  color: #3b5998;
  background-color: #fff;
  font-size: 22px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 1.8;
}

.schedule-list-box {
  .box-title {
    font-size: 24px;
    @include mq(sm) {
      font-size: 26px;
    }
    &:before {
      color: $brand-color-1;
      font-size: 24px;
      @include mq(sm) {
        font-size: 34px;
      }
    }
  }
}

.schedule-list-box {
  background-color: $light-gray;
}

.list-bg-box {
  background-color: #fafafa;
  color: $brand-color-1;
  padding: 25px;
  @include mq(sm) {
    padding: 50px;
  }
}

.list-nav {
  border-bottom-color: $brand-color-1;
  li {
    @media only screen and (max-width: 767px) {
      padding-left: 0;
    }
    &:after {
      background-color: $brand-color-1;
    }
    &:hover, &.current {
      color: $brand-color-4;
    }
  }
}

.box-title {
  color: $brand-color-4;
  font-weight: 700;
}

.schedule-list-content {
  display: inline-block;
}

.schedule-list {
  li {
    font-size: 18px;
    p {
      display: block;
      margin-bottom: 0;
    }
    a {
      color: $brand-color-4;
    }
  }
  .list-count {
    border: none;
  }
}